<div class="loading-overlay" *ngIf="loading">
  <div class="spinner"></div>
</div>
<div class="container">
  <h1 class="page-title">Latests news from HackerNews Community</h1>
  <div class="input-group mb-3">
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search by title" aria-label="Search by title" aria-describedby="basic-addon2" (input)="filterByTitle()" />
  </div>
  <ul class="news-list">
    <li *ngFor="let item of pagedItems | paginate: { itemsPerPage: 10, currentPage: p }" class="news-item">
      <div class="news-title">{{ item.title }}</div>
      <div class="news-details">
        <span class="news-author">URL: {{ item.url }}</span>
      </div>
    </li>
  </ul>
  <div class="mt-8 py-5 flex justify-center items-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
